/******Ready for Layout Design !*********/
body {
	background-color: #f2f2f2;
	zoom: 1; /* Just For IE ! - Che khonak ! */
}
body.mainsite_bg {
	background-image: url(image/index-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
}
body.have_outline > * {
	outline: 1px dashed #550;
	background-color: rgba(155,230,95,0.2);
}
body.have_outline > * > * {
	outline: 1px dashed #f05;
	background-color: rgba(255,0,95,0.2);
}
body.have_outline > * > * > * {
	outline: 1px dashed #f80;
	background-color: rgba(255,128,0,0.2);
}
body.have_outline > * > * > * > * {
	outline: 1px dashed #0f0;
	background-color: rgba(0,255,0,0.2);
}
body.have_outline > * > * > * > * > * {
	outline: 1px dashed #08f;
	background-color: rgba(0,150,255,0.2);
}
body.have_outline > * > * > * > * > * > * {
	outline: 1px dashed #000;
	background-color: rgba(0,0,255,0.2);
}
body.have_outline > * > * > * > * > * > * * {
	outline: 1px dashed #f0f;
	background-color: rgba(255,0,255,0.2);
}

.design_stat *,
.design_stat {
	background-color: #fff !important;
	outline: none !important;
}
.design_stat {
	position: fixed;
	z-index: 9999;
	top: 200px;
	right: -80px;
	padding: 3px 5px;
	border: 2px solid #083;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: right 0.5s;
	   -moz-transition: right 0.5s;
	     -ms-transition: right 0.5s;
	        -o-transition: right 0.5s;
	            transition: right 0.5s;
	cursor:pointer;
}
.design_stat:hover {
	right: 0;
}
.design_stat ul {
	padding: 0;
	margin: 0;
}

.design_stat li {
	padding: 3px 5px;
	margin: 0;
}

/********Layout Design**********/
.body {
	font-family: arial;
	font-family: 'nazanin', arial;
	font-size: 16px;
	line-height: 1.2;
}
.green {
	color: #8DC03D;
}

.wrapper {
	min-width: 950px;
}
.container {
	*zoom:1; /* IE FIX :| */
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding: 1px; /* ZedLoos */
}
.container:after { /* BadBoy */
	content: " ";
	display: block;
	clear: both;
}
h3.title {
	margin: 30px 0 0 0;
	font-family: 'bardiya', 'Oswald', sans-serif;
	font-size: 18px;
}

.header.wrapper {
	background-color: #fff;
	font-family: 'bardiya', 'Oswald', sans-serif;
}
.header.container {
	padding: 40px 0;
	border-top: 2px solid #8DC03D;
	color: #777;
	font-size: 16px;
}
.header.container .icon {
	font-size: 20px;
	margin: 2px 5px;
	color: #aaa;
}
.header.container .icon:hover {
	color: #555;
}
.header .header_logo {
	font-size: 32px;
	font-weight: bold
}
/* Nav */
	.nav.wrapper {
		background-color: #333;
		border-bottom: 2px solid #8DC03D;
		color: #888;
	}
	.nav.container {
		
	}
	.nav_menu {
		padding: 0;
		margin: 0;
	}
	.nav_menu li {
		position: relative;
	}
	.nav_menu a {
		display: block;
		color: inherit;
		text-decoration: none;
		padding: 20px 25px;
		-webkit-transition: color 0.5s, background-color 0.3s;
		   -moz-transition: color 0.5s, background-color 0.3s;
			-ms-transition: color 0.5s, background-color 0.3s;
			   -o-transition: color 0.5s, background-color 0.3s;
				  transition: color 0.5s, background-color 0.3s;
	}
/* Menu */
	.nav_menu > li {
		float: right;
	}
	.nav_menu > li > a {
		font-family: 'bardiya', 'Oswald', sans-serif;
		font-size: 16px;
	}
	.nav_menu > li:before {
		content: " ";
		display: block;
		position: absolute;
		width: 0;
		height: 20px;
		top: 18px;
		right: 0;
		border-left: 1px solid #444;
	}
	.nav_menu > li:first-child:before {
		display: none;
	}
	.nav_menu li:hover > a {
		color: #fff;
		-webkit-transition: color 0.3s, background-color 0.3s;
		   -moz-transition: color 0.3s, background-color 0.3s;
			-ms-transition: color 0.3s, background-color 0.3s;
			   -o-transition: color 0.3s, background-color 0.3s;
				  transition: color 0.3s, background-color 0.3s;
	}
/* SubMenu */
	.nav_menu menu {
		display: none;
		position: absolute;
		z-index: 999;
		top: 100%;
		right: 0;
		padding: 0;
		margin: 0;
		min-width: 200px;
		white-space: nowrap;
		-webkit-box-shadow:  0 5px 15px -5px #777;
		-moz-box-shadow:  0 5px 15px -5px #777;
		box-shadow:  0 5px 15px -5px #777;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	.nav_menu li:hover > menu {
		display: block;
	}
	.nav_menu menu menu {
		top: 0;
		right: 100%;
	}
	.nav_menu li li {
		border-top: 1px solid #eee;
	}
	.nav_menu li li:first-child {
		border-top: none;
	}
	.nav_menu li li a {
		padding: 12px 22px;
		background-color: #fff;
	}
	.nav_menu li li:hover > a {
		background-color: #8DC03D;
	}

/* Slider */
.slider.wrapper {
	padding: 20px 0;
	background-color: #fbfbfb;
}
.slider.container {
	
}
.accslider {
	height: 398px;
	overflow: hidden;
	border: 6px solid white;	-webkit-box-shadow: 0 0 0 1px #ddd;
	-moz-box-shadow: 0 0 0 1px #ddd;
	box-shadow: 0 0 0 1px #ddd;
}
.accslider ul,
.accslider li {
	margin: 0;
	padding: 0;
}
.accslider ul {
	width: 2000px;
	height: inherit;
}
.accslider li {
	position: relative;
	width: 313px;
	overflow: hidden;
	height: inherit;
	float: right;
	-webkit-transition: width 0.5s;
	   -moz-transition: width 0.5s;
	     -ms-transition: width 0.5s;
	        -o-transition: width 0.5s;
	            transition: width 0.5s;
	-webkit-box-shadow: 0 0 10px -2px #555;
	-moz-box-shadow: 0 0 10px -2px #555;
	box-shadow: 0 0 10px -2px #555;
}
.accslider ul:hover li {
	width: 97px;
}
.accslider ul li:hover {
	width: 745px;
}
.accslider .slide {
	background-position: top right;
	background-repeat: no-repeat;
}
.accslider .slide1 {background-image: url('image/slider-c.jpg');}
.accslider .slide2 {background-image: url('image/slider-b.jpg');}
.accslider .slide3 {background-image: url('image/slider-a.jpg'); padding-left: 300px;}

.accslider ul li .text {
	position: relative;
	top: 348px;
	padding: 15px 10px 20px 300px;
	width: 725px; /* -20 (padding) ! */
	color: #fff;
	background-color: #8DC03D; /* If don't support rgba */
	background-color: rgba(141,192,61,0.9);
	-webkit-transition: top 0.5s;
	   -moz-transition: top 0.5s;
	     -ms-transition: top 0.5s;
	        -o-transition: top 0.5s;
	            transition: top 0.5s;
}
.accslider ul li .text h2 {
	margin: 0;
	white-space: nowrap;
	font-family: 'bardiya', 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.accslider ul li:hover .text {
	top: 290px;
}

/* top_widgets */
.top_widgets.wrapper {
	-webkit-box-shadow: inset 0 0 5px -2px #222;
	-moz-box-shadow: inset 0 0 5px -2px #222;
	box-shadow: inset 0 3px 5px -2px #ddd;
	background-color: #f3f3f3;
}
.top_widgets.container {
	padding: 35px 0 40px;
}
.top_widgets .head {
	padding: 0 20px;
	margin-top: 0;
	text-align: center;
}
.top_widgets .head h2 {
	margin-top: 0;
	font-family: 'bardiya', 'Oswald', sans-serif;
	font-size: 26px;
}
.top_widgets .head p {
	color: #666666;
	font-style: italic;
	font-size: 16px;
	line-height: 1.5;
}
.top_widgets .widgets .textpanel {
	margin-top: 20px;
}
.top_widgets .widgets .textpanel h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'bardiya', 'Oswald', sans-serif;
	font-size: 20px;
}
.top_widgets .widgets .textpanel p {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 15px;
	color: #666;
	line-height: 1.5;
}
.top_widgets .widgets .iconpanel .icon {
	display: block;
	width: 60px;
	height: 60px;
	margin: 5px auto 0 8px;
}
.top_widgets .widgets .iconpanel .icon1 {background-image: url(image/design-icon.png);}
.top_widgets .widgets .iconpanel .icon2 {background-image: url(image/eye-icon.png);}
.top_widgets .widgets .iconpanel .icon3 {background-image: url(image/debug-icon.png);}
.top_widgets .widgets .iconpanel .icon1:hover {background-image: url(image/design-icon-hov.png);}
.top_widgets .widgets .iconpanel .icon2:hover {background-image: url(image/eye-icon-hov.png);}
.top_widgets .widgets .iconpanel .icon3:hover {background-image: url(image/debug-icon-hov.png);}

/* posts_area */
.posts_area.wrapper {
	background-color: #fbfbfb;
}

/* dropdown_vertical_menu */
.dropdown_vertical_menu,
.dropdown_vertical_menu li,
.dropdown_vertical_menu input,
.dropdown_vertical_menu label {
	margin: 0;
	padding: 0;
}
.dropdown_vertical_menu li,
.dropdown_vertical_menu {
	list-style: none;
}
.dropdown_vertical_menu {
	margin-top: 30px;
	border: 1px solid #ddd;
	border-top-width: 0;
}
.dropdown_vertical_menu .head {
	margin: 0;
	padding: 0;
	font-family: 'bardiya', 'Oswald', sans-serif;
	font-size: 18px;
	background-color: #fbfbfb;
	border: 0 solid #ddd;
	border-width: 1px 0;
	background-image: url(image/arrows.png);
	background-repeat: no-repeat;
	background-position: 10px 14px;
}
.dropdown_vertical_menu .head label {
	display: block;
	padding: 10px 16px;
	margin: 0;
	cursor:pointer;
}
.dropdown_vertical_menu input {
	position: absolute;
	overflow: hidden;
	visibility:hidden;
}
.dropdown_vertical_menu .contents {	margin: 0;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.3;
	color: #555;
	overflow: hidden;
	height: 0;
	padding: 0 15px;
}
.dropdown_vertical_menu input:checked + .head {
	border-top: 3px solid #8DC03D;
	background-position: 10px -19px;
}
.dropdown_vertical_menu input:checked ~ .contents {
	padding: 15px;
	height: auto;
}
/* post */
.posts_area .post {
	font-size: 16px;
	line-height: 1.25;
	color: #555;
}
.posts_area .post .post_image {
	display: block;
	float: right;
	margin: 20px 0 20px 20px;
	border: 6px solid white;
	-webkit-box-shadow: 0 0 0 1px #ddd;
	-moz-box-shadow: 0 0 0 1px #ddd;
	box-shadow: 0 0 0 1px #ddd;
}

/* posts_area_foot */
.posts_area_foot.container {
	padding: 24px 0 40px;
}
/* reflogos */
.reflogo {
	display: block;
	float: right;
	width: 172px;
	height: 80px;
	margin: 0 0 0 20px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #ddd;
}
.reflogo5{background-image: url('image/atmel.png');}
.reflogo5:hover{background-image: url('image/atmel-hov.png');}
.reflogo4{background-image: url('image/lpc.jpg');}
.reflogo4:hover{background-image: url('image/lpc-hov.jpg');}
.reflogo3{background-image: url('image/nxp.jpg');}
.reflogo3:hover{background-image: url('image/nxp-hov.jpg');}
.reflogo2{background-image: url('image/roboeq.jpg');}
.reflogo2:hover{background-image: url('image/roboeq-hov.jpg');}
.reflogo1{background-image: url('image/iranmicro.png');}
.reflogo1:hover{background-image: url('image/iranmicro-hov.png');}

.reflogo5 {float:none; margin-left:0; margin-right:auto;}

/* footer_widgets */
.footer_widgets.wrapper {
	background-color: #222;
	color: #666666;
	border-top: 2px solid #8DC03D;
}
.footer_widgets.container {
	padding:0 0 30px;
	font-size: 14px;
}
.footer_widgets .widgets {
	padding: 0 15px;
	margin-right: 10px;
	width: 200px;
}
.footer_widgets .widgets .title {
	color: #bbb;
}
.footer_widgets .widgets p {
	margin: 10px 0 0;
	font-size: 14px;
	line-height: 1.3;
}
.footer_widgets .widgets > p:first-child {
	margin-top: 30px;
}
.footer_widgets a {
	text-decoration: none;
	color: #bbb;
}
.footer_widgets a:hover {
	color: #fff;
}
.footer_widgets ul {
	margin: 10px 0 0;
	padding: 0;
}
.footer_widgets li {
	margin: 0;
	padding: 5px 13px;
	background-image: url("image/bullet.png");
	background-position: 100% 12px;
	background-repeat: no-repeat;
}
.footer_widgets h6 { 
	color: #B8B8B8;
	font-style: italic;
	font-size: 14px;
	margin: 20px 0 0;
}
/* footer */
.footer.wrapper {
	background-color: #171717;
	color: #666666;
}
.footer.container {
	padding: 20px 0 30px;
}
.footer .links {
	font-family: 'bardiya', 'Oswald', sans-serif;
	font-size: 14px;
}
.footer .links a {
	padding: 5px 10px;
}
.footer a {
	margin: 0;
	padding: 3px;
	text-decoration: none;
	color: #777;
}
.footer a:hover {
	color: #ccc;
}


/* Elements Design */

    .btn1 {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
        
        background-color:#ffffff;
        
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border-radius:2px;
        
        border:1px solid #dcdcdc;
        
        display:inline-block;
        color:#666666;
        font-family:arial;
        font-size:12px;
        font-weight: 500;
        padding: 8px 15px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #ffffff;
        
    }
    .btn1:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
        
        background-color:#f6f6f6;
    }
    .btn1:active {
        position:relative;
        top:1px;
    }

    
    /* Other pages*/
    
    
    /* about me */
.posts_area .post_aboutme {
	background-image: url('image/aboutme.png');
	background-repeat: no-repeat;
	padding: 110px 10px 0px 480px;
	min-height: 360px;
}
.posts_area .google_map {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #8DC03D;
}

/* Contact */
.bgwhite {
	background-color: #fff !important;
}
.posts_area .post_contact {
	background-color: #fff;
	background-image: url('image/green_telephone.jpg');
	background-repeat: no-repeat;
	min-height: 346px;
}
form#contact {
	margin: 10px 120px 0 auto;
	line-height: 3;
}
form#contact input, form#contact textarea {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #8DC03D;
}
form#contact input {
	height: 23px;
	width: 150px;
}
form#contact label {
	display: inline-block;
	min-width: 100px;
}
form#contact textarea {
	display: block;
}
form#contact input[type="submit"] {
	margin: 10px;
	padding: 4px 20px;
	font-size: 16px;
	height: 30px;
	width: 100px;
	background-color: #e2f7be;
	color: #555;
}
form#contact input[type="submit"]:hover {
	background-color: #8DC03D;
	color: #fff;
}