/******Ready for Layout Design !*********/
body {
	background-color: #f2f2f2;
	zoom: 1; /* Just For IE ! - Che khonak ! */
	min-height: 2274px;
}
body.mainsite_bg {
	background-image: url(image/index-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
}
body.have_outline > * {
	outline: 1px dashed #550;
	background-color: rgba(155,230,95,0.2);
}
body.have_outline > * > * {
	outline: 1px dashed #f05;
	background-color: rgba(255,0,95,0.2);
}
body.have_outline > * > * > * {
	outline: 1px dashed #f80;
	background-color: rgba(255,128,0,0.2);
}
body.have_outline > * > * > * > * {
	outline: 1px dashed #0f0;
	background-color: rgba(0,255,0,0.2);
}
body.have_outline > * > * > * > * > * {
	outline: 1px dashed #08f;
	background-color: rgba(0,150,255,0.2);
}
body.have_outline > * > * > * > * > * > * {
	outline: 1px dashed #000;
	background-color: rgba(0,0,255,0.2);
}
body.have_outline > * > * > * > * > * > * > * {
	outline: 1px dashed #f0f;
	background-color: rgba(255,0,255,0.2);
}

.design_stat *,
.design_stat {
	background-color: #fff !important;
	outline: none !important;
}
.design_stat {
	position: fixed;
	z-index: 9999;
	top: 200px;
	left: -100px;
	padding: 3px 5px;
	border: 2px solid #083;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: left 0.5s;
	   -moz-transition: left 0.5s;
	     -ms-transition: left 0.5s;
	        -o-transition: left 0.5s;
	            transition: left 0.5s;
}
.design_stat:hover {
	left: 0;
}
.design_stat ul {
	padding: 0;
	margin: 0;
}

.design_stat li {
	padding: 3px 5px;
	margin: 0;
}

/********Layout Design**********/
.warper {
	min-width: 950px;
}
.container {
	*zoom:1; /* IE FIX :| */
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding: 1px; /* ZedLoos */
}
.container:after { /* BadBoy */
	content: " ";
	display: block;
	clear: both;
}

.header.container {
	padding: 40px 0;
}

/* Nav */
.nav.container {
	min-height: 58px;
}
.nav_menu {
	padding: 0;
	margin: 13px 0;
}
.menu_li_first {
	float: left;
	margin-right: 30px;
}
.menu_li_first a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 4px 8px;
}

.slider.container {
	min-height: 431px;
}

/* top_widgets */
.top_widgets.container {
	padding: 35px 0 40px;
}

/* posts_area */
.posts_area.container {
	min-height: 758px;
}

/* post */
.post_image {
	margin-right: 20px;
}

.posts_area_foot.container {
	min-height: 228px;
}
.footer_widgets.container {
	min-height: 283px;
}
.footer.container {
	min-height: 56px;
}


/* Elements Design */

    .btn {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
        
        background-color:#ffffff;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #dcdcdc;
        
        display:inline-block;
        color:#666666;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #ffffff;
        
    }
    .btn:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
        
        background-color:#f6f6f6;
    }
    .btn:active {
        position:relative;
        top:1px;
    }
