/******Ready for Layout Design !*********/
body {
	background-color: #f2f2f2;
	zoom: 1; /* Just For IE ! - Che khonak ! */
	min-height: 2274px;
}
body.mainsite_bg {
	background-image: url(image/index-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
}
body.have_outline > * {
	outline: 1px dashed #550;
	background-color: rgba(155,230,95,0.2);
}
body.have_outline > * > * {
	outline: 1px dashed #f05;
	background-color: rgba(255,0,95,0.2);
}
body.have_outline > * > * > * {
	outline: 1px dashed #f80;
	background-color: rgba(255,128,0,0.2);
}
body.have_outline > * > * > * > * {
	outline: 1px dashed #0f0;
	background-color: rgba(0,255,0,0.2);
}
body.have_outline > * > * > * > * > * {
	outline: 1px dashed #08f;
	background-color: rgba(0,150,255,0.2);
}
body.have_outline > * > * > * > * > * > * {
	outline: 1px dashed #000;
	background-color: rgba(0,0,255,0.2);
}
body.have_outline > * > * > * > * > * > * > * {
	outline: 1px dashed #f0f;
	background-color: rgba(255,0,255,0.2);
}

.design_stat *,
.design_stat {
	background-color: #fff !important;
	outline: none !important;
}
.design_stat {
	position: fixed;
	z-index: 9999;
	top: 200px;
	left: -100px;
	padding: 3px 5px;
	border: 2px solid #083;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: left 0.5s;
	   -moz-transition: left 0.5s;
	     -ms-transition: left 0.5s;
	        -o-transition: left 0.5s;
	            transition: left 0.5s;
}
.design_stat:hover {
	left: 0;
}
.design_stat ul {
	padding: 0;
	margin: 0;
}

.design_stat li {
	padding: 3px 5px;
	margin: 0;
}

/********Layout Design**********/
.warper {
	min-width: 950px;
}
.container {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding: 1px; /* ZedLoos */
}
.container:after {
	content: " ";
	display: block;
	clear: both;
}

.header.container {
	padding: 40px 0;
}

/* Nav */
.nav.container {
	min-height: 58px;
}
.nav_menu {
	padding: 0;
	margin: 13px 0;
}
.menu_li_first {
	float: left;
	margin-right: 30px;
}
.menu_li_first a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 4px 8px;
}

.slider.container {
	min-height: 431px;
}
.top_widgets.container {
	min-height: 338px;
}
.posts_area.container {
	min-height: 758px;
}
.posts_area_foot.container {
	min-height: 228px;
}
.footer_widgets.container {
	min-height: 283px;
}
.footer.container {
	min-height: 56px;
}

