/******Ready for Layout Design !*********/
body {
	background-color: #f2f2f2;
	zoom: 1; /* Just For IE ! - Che khonak ! */
	background-image: url(image/index-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 2274px;
}
body > * {
	outline: 1px dashed #550;
	background-color: rgba(155,230,95,0.2);
}
body > * > * {
	outline: 1px dashed #f05;
	background-color: rgba(255,0,95,0.2);
}
body > * > * > * {
	outline: 1px dashed #f80;
	background-color: rgba(255,128,0,0.2);
}
body > * > * > * > * {
	outline: 1px dashed #0f0;
	background-color: rgba(0,255,0,0.2);
}
body > * > * > * > * > * {
	outline: 1px dashed #08f;
	background-color: rgba(0,150,255,0.2);
}
body > * > * > * > * > * > * {
	outline: 1px dashed #000;
	background-color: rgba(0,0,255,0.2);
}
body > * > * > * > * > * > * > * {
	outline: 1px dashed #f0f;
	background-color: rgba(255,0,255,0.2);
}

/********Layout Design**********/


