.custom-css{color:#cc0000;}
.twitter-pic img {display:none;}
html {background:#fff;}
.nav-box > ul  ul a { font-size: 12px !important; } 
.nav-box {background:#343434; border-bottom: 2px solid #8dc03d;}